<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask course</title>
</head>
<style>
    .text-style{
        text-align: center;
    }
</style>
<body class="text-style">
<font size="6" face="Times New Roman">Ввести год и месяц</font>

<form action="{{  url_for('user_app.user_sql2')  }}" method="post">
    <br>
    <input type="text" placeholder="Value1" name="value1">
    <input type="text" placeholder="Value2" name="value2">
<!--    input date можно еще будет сделать-->
    <input type="submit" value="Отправить">
    <br>
    <br>
    <h3><a href="{{url_for('user_app.user_index')}}"> Вернуться назад</a></h3>
</form>

</body>
</html>