<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title> Flask curse </title>
</head>
<style>
    .text-style{
        text-align: center;
    }

</style>
<body class="text-style">
<div class="root">
    <font size="500%" face="Times New Roman">Главное меню</font>
    <br>
    <br>
    <a href="/user"><font size="6" face="Times New Roman"> Меню запросов</font> </a>
    <br>
    <a href="/auth/login"> <font size="6" face="Times New Roman">Авторизация</font></a>
    <br>
    <a href="/basket/"><font size="6" face="Times New Roman">Оформить заказ</font></a>
    <br>
    <a href="clear-session"> <font size="6" face="Times New Roman">Завершить работу</font></a>
</div>
</body>
</html>